<div>
    <app-header></app-header>
    <!-- Page Content Holder -->
    <div id="content">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" (click)="handleClick($event)" id="sidebarCollapse" class="btn btn-info navbar-btn">
              <i class="fa fa-bars"></i>
            </button>
          </div>
        </div>
      </nav>
      
      <div class="btn-group col-sm-12 col-md-12 col-lg-12 col-xl-8 offset-xl-2">
        <ng-container *ngIf="!isFetching">
          <button class="btn delete" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-trash"></i><span> Διαγραφή</span></button>
          <button class="btn edit" (click)="editEntryDetails($event)"><i class="fas fa-pencil-alt"></i><span> Επεξεργασία</span></button>
        </ng-container>
      </div>

      <ng-container *ngIf="!isFetching">
        <!-- modal for delete -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Διαγραφή καταχώρησης</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Είστε σίγουροι πως θέλετε να διαγράψετε αυτή την καταχώρηση; 
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Όχι</button>
                <button type="button" (click)="deleteDataFromJson()" style="color: white; background-color: #f75353;" class="btn btn-primary" data-dismiss="modal">Διαγραφή</button>
              </div>
            </div>
          </div>
        </div>

        <!-- modal for full-size image -->
        <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document" style="max-width: 100% !important;width: fit-content;">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img style="width:100% !important;" class="card-img-top" [src]="result.finalImage" alt="pop up image"> 
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="card col-sm-12 col-md-12 col-lg-12 col-xl-8 offset-xl-2" *ngIf="!loading">
        <div class="card-body">
          <ng-container *ngIf="!isFetching">
            <h5>Κωδικός καταχώρησης:  {{result.id}}</h5>
            <hr>
            <div class="d-flex flex-column align-items-center text-center">
              <div class="mt-3">
                <ul class="list-group list-group-flush info-card">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <ng-container *ngIf="result.amka != null">
                      <h6>Στοιχεία ασθενή:</h6>
                      <ul class="list-group list-group-flush personal-info col-sm-12 col-md-12 col-lg-12 col-xl-10 offset-xl-1">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap amka-info">
                          <h6 class="mb-0"><i class="far fa-address-card"></i><span>  Αριθμός ΑΜΚΑ:</span></h6>
                          <span class="span-text">{{result.amka}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap amka-info">
                          <h6 class="mb-0"><i class="far fa-user-circle"></i><span>  Ονοματεπώνυμο:</span></h6>
                          <span class="span-text">{{result.name}}</span>
                        </li>
                      </ul>
                    </ng-container>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <div class="card col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 offset-sm-2 offset-md-2 offset-lg-2 offset-xl-2">
                      <div style="width: 100%;"><button style="width: fit-content; float:right;border: 1px solid black;border-radius: 7px;" data-toggle="modal" data-target="#imageModal"><i class="fas fa-expand-alt"></i><span></span></button></div>
                      <img style="width: 100%; max-height: 200px;" class="card-img-top" [src]="result.finalImage" alt="Card image cap">
                      <div class="card-body">
                        <ng-container *ngIf="result.result">
                          <h5 class="card-title">Αποτέλεσμα Αξιόλογησης:</h5>
                          <p class="card-text">{{result.result}}</p>
                        </ng-container>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6>Σχόλια Επίσκεψης: </h6>
                    {{result.comments}}
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6><i class="far fa-calendar-check"></i><span>   Ημερομηνία Λήψης Εικόνας:</span></h6>
                    <span class="span-text">{{result.date}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6><i class="far fa-calendar-check"></i><span>   Ημερομηνία Δημιουργίας Καταχώρησης:</span></h6>
                    <span class="span-text">{{result.dateNow}}</span>
                  </li>
  
                  <hr>
                  <ng-container *ngIf="!loading && entries.length > 0">
                    <button class="btn btn-primary collapseInfoBtn" type="button" data-toggle="collapse" data-target="#collapseImageInfo" aria-expanded="false" aria-controls="collapseImageInfo">
                        Άλλες καταχωρήσεις με αυτό το ΑΜΚΑ:<i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i>
                    </button>
                    <div class="collapse" id="collapseImageInfo">
                      <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-4 my-header">
                        <div class="col">
                          <strong>ΕΙΚΟΝΑ</strong>
                        </div>
                        <div class="col d-sm-none d-md-block d-none d-sm-block">
                          <strong>ΗΜΕΡΟΜΗΝΙΑ ΚΑΤΑΧΩΡΗΣΗΣ</strong>
                        </div>
                        <div class="col">
                          <strong>ΑΞΙΟΛΟΓΗΣΗ</strong>
                        </div>
                        <div class="col d-none d-sm-block">
                          <strong>ΠΡΟΒΟΛΗ</strong>
                        </div>
                      </div>
                      <hr>
                      <ng-container *ngFor="let item of entries">
                        <ng-container *ngIf="item">
                          <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-4 all-data">
                            <div class="col">
                              <div><img width="100" height="80" [src]="item.finalImage"></div>
                            </div>
                            <div class="col d-sm-none d-md-block d-none d-sm-block">
                              <span><i class="far fa-calendar-alt" style="font-size:20px"></i>    {{item.dateNow}}</span>
                            </div>
                            <div class="col">
                              <span *ngIf="item.result">{{item.result}}</span>
                              <span *ngIf="!item.result"><i class="far fa-window-minimize"></i></span>
                              <div class="d-block d-sm-none" style="margin-top: 27px;">
                                <button class="view-entry" title="Προβολή Στοιχείων" (click)="viewEntryDetails(item.id)"><i class="fa fa-eye"></i></button>
                              </div>
                            </div>
                            <div class="col d-none d-sm-block">
                              <button class="view-entry" title="Προβολή Στοιχείων" (click)="viewEntryDetails(item.id)"><i class="fa fa-eye"></i></button>
                            </div>
                          </div>
                          <hr class="line">
                        </ng-container>
                      </ng-container>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="loading">
                    <div style="margin-top: 36px;height: 100px;">
                        <div class="spinner-border" style="text-align: center;" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                  </ng-container>


                </ul>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="loading">
          <app-spinner class="main-loader"></app-spinner>
          </ng-container>
          </div>
          <button routerLink="/photos-get" class="back"><i class="fas fa-angle-left"></i></button>
      </div>
    </div>
  </div>
  