
<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Καλώς ήρθατε {{doctor.name.firstname}}!</h3>
      </div>
      <ul class="list-unstyled components">
          <p>Dummy Heading</p>
          <li>
              <a (click)="handleMenu($event)" href="#" routerLink="/prescriptions">Οι συνταγές μου</a>
          </li>
          <li>
              <a (click)="handleMenu($event)" href="#" routerLink="/visits">Οι επισκέψεις μου</a>
          </li>
          <li>
              <a (click)="handleMenu($event)" href="#" routerLink="/photos-get/">Έρευνα εικόνας</a>
          </li>
          <li>
              <a (click)="handleMenu($event)" href="#" routerLink="/amka-search">Αναζήτηση με ΑΜΚΑ</a>
          </li>
          <li>
              <a (click)="handleMenu($event)" href="#" routerLink="/me">Τα στοιχεία μου</a>
          </li>
          <li>
              <a href="#" (click)="onLogout()" id="logout">Αποσύνδεση</a>
          </li>
      </ul>
  </nav>
</div>