<div>
    <app-header></app-header>
      <!-- Page Content Holder -->
      <div id="content">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" (click)="handleClick($event)" id="sidebarCollapse" class="btn btn-info navbar-btn">
                      <i class="fa fa-bars"></i>
                  </button>
              </div>
          </div>
        </nav>


  
    
    <app-spinner class="main-loader" *ngIf = "loading"></app-spinner>
    </div>
</div>