<div>
  <app-header></app-header>
    <!-- Page Content Holder -->
    <div id="content">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" (click)="handleClick($event)" id="sidebarCollapse" class="btn btn-info navbar-btn list-page">
              <i class="fa fa-bars"></i>
            </button>
          </div>
        </div>
      </nav>

    <h2 class="page-title">Οι επισκέψεις μου</h2>
    <button (click)="createVisit()" class="btn add" id="visit-create"><i class="fas fa-plus"></i><span>   Δημιουργία Επίσκεψης</span></button>
    
    <div class="form desktop"><i class="fa fa-search"></i><input id="myInputDesk" type="number" class="form-control form-input" (keyup)="searchDesktop($event)" placeholder="Αναζήτηση επίσκεψης βάση αριθμού ΑΜΚΑ.."> </div>
    <div class="form medium"><i class="fa fa-search"></i><input id="myInputMed" type="number" class="form-control form-input" (keyup)="searchMedium($event)" placeholder="Αναζήτηση επίσκεψης βάση αριθμού ΑΜΚΑ.."> </div>
    <div class="form mobile"><i class="fa fa-search"></i><input id="myInputMob" type="number" class="form-control form-input" (keyup)="searchMobile($event)" placeholder="Αναζήτηση επίσκεψης βάση αριθμού ΑΜΚΑ.."> </div>

    <div class="table-responsive col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <table id="desktop-table" class="table table-hover table-nowrap">
        <thead id="desk-head" class="thead-light">
          <tr>
            <th scope="col">ΑΜΚΑ Ασθενη</th>
            <th scope="col">Ονοματεπωνυμο</th>
            <th scope="col">Κατασταση</th>
            <th scope="col">Λεπτομερειες</th>
          </tr>
        </thead>
        <tbody id="myDeskTable">
          <ng-container *ngIf="!isFetching && visits.item.length >= 0">
            <ng-container *ngFor="let visit of visits.item">
              <tr>
                <td class="amka-number">{{visit.patientInfo.amka}}</td>
                <td>
                  <img alt="..." src="../../../assets/user.png" class="avatar avatar-sm rounded-circle me-2"> <span class="text-heading font-semibold" (click)="editVisit(visit.id)">{{visit.patientInfo.firstName + ' ' + visit.patientInfo.lastName}}</span> 
                  <br><span class="desk-date"><i class="far fa-calendar-alt" style="font-size:20px"></i>    {{visit.startDate}}</span>
                </td>
                <td>
                  <span *ngIf="visit.status.status == 'Σε Εκκρεμότητα'" class="badge badge-lg badge-dot"><i class="bg-warning"></i>{{visit.status.status}}</span>
                  <span *ngIf="visit.status.status == 'Ακυρωμένη'" class="badge badge-lg badge-dot"> <i class="bg-danger"></i>{{visit.status.status}}</span>
                  <span *ngIf="visit.status.status == 'Ολοκληρωμένη'" class="badge badge-lg badge-dot"> <i class="bg-success"></i>{{visit.status.status}}</span>
                </td>
                <td class="text-end"> 
                  <button title="Προβολή" (click)="viewVisitDetails(visit.id)"><i class="fa fa-eye"></i></button>
                  <ng-container *ngIf="visit.status.status != 'Ακυρωμένη' && visit.status.status != 'Ολοκληρωμένη'">
                    <button title="Επεξεργασία" (click)="editVisit(visit.id)"><i class="far fa-edit"></i></button>
                  </ng-container>
                  <ng-container *ngIf="visit.status.status != 'Ακυρωμένη' && visit.status.status != 'Ολοκληρωμένη'">
                    <button title="Διαγραφή" (click)="openConfirmDeleteModal(visit.id)"><i class="far fa-trash-alt"></i></button>
                  </ng-container>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>

      <table id="mid-table" class="table table-hover table-nowrap">
        <thead id="mid-head" class="thead-light">
            <tr>
              <th scope="col">Στοιχεια Ασθενη</th>
              <th scope="col">Κατασταση</th>
              <th scope="col">Λεπτομερειες</th>
            </tr>
        </thead>
        <tbody id="myMedTable">
          <ng-container *ngIf="!isFetching && visits.item.length >= 0">
            <ng-container *ngFor="let visit of visits.item">
              <tr>
                <td>
                  <img alt="..." src="../../../assets/user.png" class="avatar avatar-sm rounded-circle me-2"> <span (click)="editVisit(visit.id)" class="text-heading font-semibold">{{visit.patientInfo.firstName + ' ' + visit.patientInfo.lastName}}</span>
                  <br><span class="mid-amka">AMKA:</span><span class="amka">   {{visit.patientInfo.amka}}</span><br>
                  <span><i class="far fa-calendar-alt" style="font-size:25px"></i>    {{visit.startDate}}</span>
                </td>
                <td class="mid-column">
                  <span *ngIf="visit.status.status == 'Σε Εκκρεμότητα'" class="badge badge-lg badge-dot"><i class="bg-warning"></i>{{visit.status.status}}</span>
                  <span *ngIf="visit.status.status == 'Ακυρωμένη'" class="badge badge-lg badge-dot"> <i class="bg-danger"></i>{{visit.status.status}}</span>
                  <span *ngIf="visit.status.status == 'Ολοκληρωμένη'" class="badge badge-lg badge-dot"> <i class="bg-success"></i>{{visit.status.status}}</span>
                </td>
                <td class="text-end"> 
                  <button title="Προβολή" (click)="viewVisitDetails(visit.id)"><i class="fa fa-eye"></i></button>
                  <ng-container *ngIf="visit.status.status != 'Ακυρωμένη' && visit.status.status != 'Ολοκληρωμένη'">
                    <button title="Επεξεργασία" (click)="editVisit(visit.id)"><i class='far fa-edit'></i></button>
                  </ng-container>
                  <ng-container *ngIf="visit.status.status != 'Ακυρωμένη' && visit.status.status != 'Ολοκληρωμένη'">
                    <button title="Διαγραφή" (click)="openConfirmDeleteModal(visit.id)"><i class="far fa-trash-alt"></i></button>
                  </ng-container>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>


      <table id="mobile-table" class="table table-hover table-nowrap">
        <thead id="mob-head" class="thead-light">
          <tr>
              <th scope="col">Στοιχεια</th>
              <th scope="col">Λεπτομερειες</th>
          </tr>
      </thead>
        <tbody id="myMobTable">
          <ng-container *ngIf="!isFetching && visits.item.length >= 0">
            <ng-container *ngFor="let visit of visits.item">
              <tr>
                <td class="first-column">
                  <span *ngIf="visit.status.status == 'Σε Εκκρεμότητα'" class="badge badge-lg badge-dot"><i class="bg-warning"></i></span>
                  <span *ngIf="visit.status.status == 'Ακυρωμένη'" class="badge badge-lg badge-dot"> <i class="bg-danger"></i></span>
                  <span *ngIf="visit.status.status == 'Ολοκληρωμένη'" class="badge badge-lg badge-dot"> <i class="bg-success"></i></span>
                  <span class="amka">{{visit.patientInfo.amka}}</span> <br> <span class="text-heading font-semibold" (click)="editVisit(visit.id)">{{visit.patientInfo.firstName + ' ' + visit.patientInfo.lastName}}</span><br>{{visit.startDate}}</td>
                <td class="text-end"> 
                  <button title="Προβολή" (click)="viewVisitDetails(visit.id)"><i class="fa fa-eye"></i></button>
                  <ng-container *ngIf="visit.status.status != 'Ακυρωμένη' && visit.status.status != 'Ολοκληρωμένη'">
                    <button title="Επεξεργασία" (click)="editVisit(visit.id)"><i class="far fa-edit"></i></button>
                  </ng-container>
                  <ng-container *ngIf="visit.status.status != 'Ακυρωμένη' && visit.status.status != 'Ολοκληρωμένη'">
                    <button title="Διαγραφή" (click)="openConfirmDeleteModal(visit.id)"><i class="far fa-trash-alt"></i></button>
                  </ng-container>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
