
@import url("https://unpkg.com/@webpixels/css@1.1.5/dist/index.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");
body{margin-top:20px;
    background-color: #e4e6e9;
    color: #41464d;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-a-brc-tp:not(.disabled):not(:disabled).active, .btn-brc-tp, .btn-brc-tp:focus:not(:hover):not(:active):not(.active):not(.dropdown-toggle), .btn-h-brc-tp:hover, .btn.btn-f-brc-tp:focus, .btn.btn-h-brc-tp:hover {
    border-color: transparent;
}
.btn-outline-blue {
    color: #0d6ce1;
    border-color: #5a9beb;
    background-color: transparent;
}
.btn {
    cursor: pointer;
    position: relative;
    z-index: auto;
    border-radius: .175rem;
    transition: color .15s,background-color .15s,border-color .15s,box-shadow .15s,opacity .15s;
}
.border-2 {
    border-width: 2px!important;
    border-style: solid!important;
    border-color: transparent;
}
.bgc-white {
    background-color: #fff!important;
}

.btn-primary {
    background-color: #566089 !important;
    border-color: #6c757d;
    box-shadow: 2px 3px 5px #6c757d;
}

.text-green-d1 {
    color: #277b5d!important;
}
.letter-spacing {
    letter-spacing: .5px!important;
}
.font-bolder, .text-600 {
    font-weight: 600!important;
}
.text-170 {
    font-size: 1.7em!important;
}

.text-purple-d1 {
    color: #6d62b5!important;
}

.text-primary-d1 {
    color: #276ab4!important;
}
.text-secondary-d1 {
    color: #5f718b!important;
}
.text-180 {
    font-size: 1.8em!important;
}
.text-150 {
    font-size: 1.5em!important;
}
.text-danger-m3 {
    color: #e05858!important;
}
.rotate-45 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.position-l {
    left: 0;
}
.position-b, .position-bc, .position-bl, .position-br, .position-center, .position-l, .position-lc, .position-r, .position-rc, .position-t, .position-tc, .position-tl, .position-tr {
    position: absolute!important;
    display: block;
}
.mt-n475, .my-n475 {
    margin-top: -2.5rem!important;
}
.ml-35, .mx-35 {
    margin-left: 1.25rem!important;
}

.text-dark-l1 {
    color: #56585e!important;
}
.text-90 {
    font-size: .9em!important;
}
.text-left {
    text-align: left!important;
}

.mt-25, .my-25 {
    margin-top: .75rem!important;
}

.text-110 {
    font-size: 1.1em!important;
}

.deleted-text{
text-decoration:line-through;;    
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#content.active {
    width: 100%;
}
.full-width {
    width: 100% !important;
}
.replace-button {
    margin-left: 220px !important;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
/* handle tables on several devices */
@media (max-width: 420px) {
    #desktop-table {
        display: none;
    }
    #mid-table {
        display: none;
    }
    #mobile-table {
        display: block;
    }
    #content {
        padding: 10px !important;
    }
    .table-responsive {
        padding: 2px;
    }
    .first-column {
        padding-left: 5px;
        padding-right: 7px;
        width: 80%;
    }
    .text-end {
        padding-left: 0;
        width: 20%;
    }
    .text-end button {
        margin-top: 17px;
    }
}
@media (min-width: 421px) and (max-width: 790px) {
    #desktop-table {
        display: none;
    }
    #mobile-table {
        display: none;
    }
    #mid-table {
        display: block;
    }
    #content {
        padding: 10px !important;
    }
    .table-responsive {
        padding: 2px;
    }
    .first-column {
        padding-left: 5px;
        padding-right: 7px;
        width: 80%;
    }
    .text-end {
        padding-left: 0;
        width: 20%;
    }
    .text-end button {
        margin-top: 17px;
    }
    .mid-amka {
        font-weight: 600;
        font-style: italic;
    }
    .mid-column {
        padding-left: 0;
    }
}

@media (min-width: 791px) {
    #mobile-table {
        display: none;
    }
    #desktop-table {
        display: block;
    }
    #mid-table {
        display: none;
    }
}

@media (max-width: 960px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    .date {
        display: none;
    }
}
@media (min-width: 961px) {
    #sidebarCollapse {
        display: none;
    }
    .date {
        display: block;
    }
}

#sidebarCollapse {
    background-color: #566089;
}

#myInput {
    margin-bottom: 30px;
    margin-top: 30px;
}

/* searchbar */
.form {
    position: relative
}

.form .fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af
}

.form span {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db
}

.form-input {
    height: 55px;
    text-indent: 33px;
    border-radius: 10px
}
.text-end button {
    border-radius: 40%;
    border: 1px solid #7684bf;
    font-size: 17px;
    margin-right: 5px;
}
.far.fa-trash-alt {
    width: 19px;
}
tr {
    width: 100%;
}