
form {
	padding: 0 2em;
}
.btn {
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#75aed7;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #75aed7;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn:hover, .btn:focus {
	background-color: #75aed7;
	color:#fff;
}
.form-group {
	text-align: center;
}
.content {
	background-color: #8fb2cb4a;
}
hr { 
    border : 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #75aed7, rgba(0, 0, 0, 0)); 
}
.page {
	top: 0;
    right: 0;
    bottom: 0;
    background-color: #8fb2cb4a;
    position: absolute;
    width: 100%;
}
.main {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.forgot-password {
	width: 100%;
}
form {
	padding-top: 15px;
}
.card {
	box-shadow: 0px 0px 3px 3px #587a9385;
}
@media (max-width: 550px) {
	form {
		padding-left: 0;
		padding-right: 0;
	}
	.card-title {
		font-size: 20px;
	}
	a.btn {
		width: 100%;
	}
}
@media (min-width: 551px) {
	.card-title {
		font-size: 24px;
	}
}