<div>
  <app-header></app-header>
  <!-- Page Content Holder -->
  <div id="content">
    <nav class="navbar navbar-default" style="padding: 0; text-align: left;">
        <div class="container-fluid" style="padding: 0;">
            <div class="navbar-header">
                <button type="button" id="sidebarCollapse" (click)="handleClick($event)" class="btn btn-info navbar-btn">
                  <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Page</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
      <br>
      <br>
      <h2 style="color: #107dd0;">
        Επίσκεψη: {{visit.id}}
        <ng-container *ngIf="!isFetching && visit.status != 'cancelled'">
          <button (click)="openConfirmDeleteModal(visit.id)" class="btn btn-danger" style="float: right;
              margin-right: 20px;">
            Ακύρωση
          </button>
        </ng-container>
        <ng-container *ngIf="!isFetching && visit.status != 'cancelled'">
          <button (click)="editVisit(visit.id)" class="btn btn-info" style="float: right;
              margin-right: 20px;">
            Επεξεργασία
          </button>
        </ng-container>
        <ng-container *ngIf="!isFetching && canBePrescribed">
          <button (click)="createPrescriptionForVisit(visit.id)" class="btn btn-success" style="
          float: right; margin-right: 20px;">
            Δημιουργία Συνταγής<br>για αυτή την Επίσκεψη
          </button>
        </ng-container>
      </h2>
      <br>
      <hr>
      <div class="table" style="color: #107dd0;">
        <ng-container *ngIf="!isFetching">
          <ul style="font-size: 24px;">
            <li>
              <span style="color: red;">Λόγος Επίσκεψης: </span>
              {{visit.reason}}
            </li>
            <li>
              <div style="color: red;">Σχόλια Επίσκεψης:</div>
              {{visit.comments}}
            </li>
            <li>
              <span style="color: red;">Ημερομηνία Έναρξης Επίσκεψης: </span>
              {{visit.startDate}}
            </li>
            <li>
              <span style="color: red;">Κατάσταση Επίσκεψης: </span>
              {{visit.status}}
            </li>
            <li>
              <div style="color: red;">Πληροφορίες Ασθενή:</div>
              <ng-container *ngIf="visit.patient.amka != null">
                <div style="font-size: 18px;">
                  - <span style="color: red;">ΑΜΚΑ: </span> {{visit.patient.amka}} <br>
                  - <span style="color: red;">Όνομα: </span> {{visit.patient.firstName}} <br>
                  - <span style="color: red;">Επώνυμο: </span> {{visit.patient.lastName}} <br>
                  - <span style="color: red;">Ημερομηνία Γέννησης: </span> {{visit.patient.birthDate | date}} <br>
                  - <span style="color: red;">Πόλη: </span> {{visit.patient.city}}, {{visit.patient.county}} <br>
                  - <span style="color: red;">Διεύθυνση: </span> {{visit.patient.address}} <br>
                </div>
              </ng-container>
            </li>
            <li>
              <div style="color: red;">Στοιχεία Μονάδας Συνταγογράφησης:</div>
              <ng-container *ngIf="visit.unit.id != null">
                <div style="font-size: 18px;">
                  - <span style="color: red;">ID: </span> {{visit.unit.id}} <br>
                  - <span style="color: red;">Όνομα: </span> {{visit.unit.healthCareUnit.unitType.name}} <br>
                  - <span style="color: red;">Περιγραφή: </span> {{visit.unit.healthCareUnit.description}} <br>
                </div>
              </ng-container>
            </li>
          </ul>
        </ng-container>
        <ng-container *ngIf="isFetching">
          <app-spinner class="main-loader"></app-spinner>
        </ng-container>
      </div>
    </div>
</div>
