
<div>
  <app-header></app-header>
  <!-- Page Content Holder -->
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" (click)="handleClick($event)" id="sidebarCollapse" class="btn btn-info navbar-btn">
                  <i class="fa fa-bars"></i>
              </button>
          </div>
      </div>
    </nav>
    
    <button (click)="createEntry()" type="button" class="btn add" id="entry-create">
      <i class="fas fa-plus"></i>
      Δημιουργία Καταχώρησης
    </button>
    <h2 class="page-title">Λίστα Καταχωρήσεων</h2>
    <ng-container *ngIf="!isFetching">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="container my-table">
          <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-4 my-header">
            <div class="col">
              <strong>ΣΤΟΙΧΕΙΑ</strong>
            </div>
            <div class="col">
              <strong>ΕΙΚΟΝΑ</strong>
            </div>
            <div class="col d-sm-none d-md-block d-none d-sm-block">
              <strong>ΗΜΕΡΟΜΗΝΙΑ ΚΑΤΑΧΩΡΗΣΗΣ</strong>
            </div>
            <div class="col d-none d-sm-block">
              <strong>ΛΕΠΤΟΜΕΡΕΙΕΣ</strong>
            </div>
          </div>

          <ng-container *ngFor="let item of imagesData">
            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-4 all-data" data-id="{{item.id}}">
              <div class="col">
                {{item.name}} <br>AMKA: <strong>  {{item.amka}}</strong>
              </div>
              <div class="col">
                <div><img width="100" height="80" [src]="item.finalImage"></div>
                <div class="d-none d-none d-sm-block d-md-none"><span><i class="far fa-calendar-alt" style="font-size:20px"></i>    {{item.dateNow}}</span></div>
                <div class="d-block d-sm-none">
                  <button title="Προβολή" (click)="viewEntryDetails($event)"><i class="fa fa-eye"></i></button>
                  <button title="Επεξεργασία"><i class="far fa-edit"></i></button>
                  <button title="Διαγραφή"><i class="far fa-trash-alt"></i></button>
                </div>
              </div>
              <div class="col d-sm-none d-md-block d-none d-sm-block">
                <span><i class="far fa-calendar-alt" style="font-size:20px"></i>    {{item.dateNow}}</span>
              </div>
              <div class="col d-none d-sm-block">
                <button title="Προβολή" (click)="viewEntryDetails($event)"><i class="fa fa-eye"></i></button>
                <button title="Επεξεργασία"><i class='far fa-edit'></i></button>
                <button title="Διαγραφή"><i class="far fa-trash-alt"></i></button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>
  
  