<div>
  <app-header></app-header>
  <!-- Page Content Holder -->
  <div id="content">
    <div class="head-container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" (click)="handleClick($event)" id="sidebarCollapse" class="btn btn-info navbar-btn">
              <i class="fa fa-bars"></i>
            </button>
          </div>
        </div>
      </nav>

      <div class="btn-group">
        <ng-container *ngIf="!isFetching && visit.status != 'cancelled' && visit.status != 'completed'">
          <button (click)="openConfirmDeleteModal(visit.id)" class="btn delete"><i class="fa fa-trash"></i> Ακύρωση</button>
        </ng-container>
      </div>
    </div>
    <ng-container *ngIf="!isFetching">
      <form #f="ngForm">
        <div class="card col-sm-12 col-md-12 col-lg-12 col-xl-10 offset-xl-1" *ngIf="!isFetching">
          <div class="card-body">
            <h5>Επεξεργασία Επίσκεψης:    {{visit.id}}</h5>
            <hr>
            <div class="d-flex flex-column align-items-center text-center">
              <div class="mt-3">
                <ng-container *ngIf="!isFetching">
                  <ul class="list-group list-group-flush info-card">
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap main-list">
                      <ng-container *ngIf="visit.patient.amka != null">
                          <h6>Στοιχεία ασθενή:</h6>
                          <ul class="list-group list-group-flush personal-info col-sm-12 col-md-12 col-lg-12 col-xl-10 offset-xl-1">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap amka-info">
                              <h6 class="mb-0"><i class="far fa-address-card"></i><span>  Αριθμός ΑΜΚΑ:</span></h6>
                              <span class="span-text">{{visit.patient.amka}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap amka-info">
                              <h6 class="mb-0"><i class="far fa-user-circle"></i><span>  Ονοματεπώνυμο:</span></h6>
                              <span class="span-text">{{visit.patient.firstName}} {{visit.patient.lastName}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap amka-info">
                            <h6 class="mb-0"><i class="fa fa-calendar"></i><span>  Hμερομηνία Γέννησης:</span></h6>
                            <span  class="span-text">{{visit.patient.birthDate | date}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap amka-info">
                              <h6 class="mb-0"><i class="fas fa-home"></i><span>  Διεύθυνση κατοικίας:</span></h6>
                              <span class="span-text">{{visit.patient.address}} {{visit.patient.city}} {{visit.patient.county}} </span>
                            </li>
                        </ul>
                      </ng-container>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap visit-reason main-list">
                      <h6>Λόγος Επίσκεψης: </h6>
                      <input [(ngModel)]="visit.reason" name="visit-reason" id="visit-reason" class="form-control" type="text" placeholder="Λόγος Επίσκεψης" required #r1="ngModel"/>
                      <div style="color: red; font-size: 13px;" *ngIf="!r1.valid && r1.touched">Παρακαλώ συμπληρώστε αυτό το
                        πεδίο!
                      </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap visit-comments main-list">
                      <h6>Σχόλια Επίσκεψης: </h6>
                      <textarea [(ngModel)]="visit.comments" name="visit-comments" id="visit-comments" class="form-control" type="text" rows="3" placeholder="Σχόλια Επίσκεψης"></textarea>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap main-list">
                      <h6><i class="far fa-calendar-check"></i><span>   Ημερομηνία Έναρξης Επίσκεψης:</span></h6>
                      <span class="span-text">{{visit.startDate}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap main-list">
                      <h6>Κατάσταση Επίσκεψης: </h6>
                      {{visit.status}}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap main-list">
                      <ng-container *ngIf="visit.unit.id != null">
                        <h6>Στοιχεία Μονάδας Συνταγογράφησης:</h6>
                        <ul class="list-group list-group-flush col-sm-12 col-md-12 col-lg-9 col-xl-8 prescription-info">
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">ID:  </h6>
                            <span class="span-text">{{visit.unit.id}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><span>  Όνομα:</span></h6>
                            <span class="span-text">{{visit.unit.healthCareUnit.unitType.name}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><span>  Περιγραφή:</span></h6>
                            <span class="span-text">{{visit.unit.healthCareUnit.description}} </span>
                          </li>
                        </ul>
                      </ng-container>
                    </li>
                  </ul>
                </ng-container>
                <ng-container *ngIf="isFetching">
                  <app-spinner class="main-loader"></app-spinner>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="btn-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <button routerLink="/visits" class="back"><i class="fas fa-angle-left"></i></button>
            <button (click)="editVisit()" type="button" class="edit-submit" [disabled]="!f.valid">Αποθήκευση</button>
          </div>
        </div>
      </form>
    </ng-container>
    <ng-container *ngIf="isFetching">
      <app-spinner class="main-loader"></app-spinner>
    </ng-container>
  </div>
</div>

