.personal-info {
    border: 1px black;
}
.card-body > h5 {
    text-align: center;
}
.rounded-circle {
    border: 3px solid #507093;
}
.container-fluid {
    padding: 0;
}
.list-group-item span {
    margin-left: 10px;
}
.list-group li:hover {
    background-color: #8fb2cb4a;
    cursor: pointer;
}
.card-body > h5 {
    font-size: 25px;
    padding-bottom: 25px;
    padding-top: 10px;
    text-shadow: 0 0 3px #507093;
    font-weight: 700;
}
.card {
    margin-top: 13px;
    box-shadow: 0px 0px 3px 3px #587a9385;
}
.text-secondary {
    color: #566089 !important;
    font-size: 19px;
}
.list-group-item span {
    font-size: 18px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1110px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    .list-group-item i {
        font-size: 25px;
    }
}
@media (min-width: 1111px) {
    .list-group-item i {
        font-size: 30px;
    }
}