.personal-info {
    border: 1px black;
}
.card-body > h5 {
    text-align: center;
}
.rounded-circle {
    border: 3px solid #507093;
}
.navbar-default {
    margin-left: -16px;
    margin-top: -28px;
    text-align: left;
}
.container-fluid {
    padding: 0;
}
.list-group-item span {
    margin-left: 10px;
}
.list-group li:hover {
    background-color: #d6e6f3;
    cursor: pointer;
}
.card-body > h5 {
    font-size: 25px;
    padding-bottom: 25px;
    padding-top: 10px;
    text-shadow: 0 0 3px #507093;
    font-weight: 700;
}
.card {
    margin-top: 13px;
}
.text-secondary {
    color: #566089 !important;
    font-size: 19px;
}
.list-group-item span {
    font-size: 18px;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#content.active {
    width: 100%;
}
.full-width {
    width: 100% !important;
}
.replace-button {
    margin-left: 220px !important;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 960px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    .list-group-item i {
        font-size: 25px;
    }
}
@media (min-width: 961px) {
    #sidebarCollapse {
        display: none;
    }
    .list-group-item i {
        font-size: 30px;
    }
}