/* You can add global styles to this file, and also import other style files */

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.color-one {
  background-color: #8fb2cbd6;
}
.color-two {
  background-color: #d3c2b680;
}
.color-three {
  background-color: #c4e5d263;
}
tbody {
  background-color: white;
}


/* menu button */
.navbar-default {
  margin-left: -16px;
  text-align: left;
}
#sidebarCollapse {
  background-color: #d1c0b4 !important;
  padding: 10px !important;
  border-radius: 9px !important;
  border: 1px solid #525f7f !important;
}
#sidebarCollapse:focus{
  outline: none !important;
}
#sidebarCollapse .fa-bars {
  color: black !important;
}
.replace-button {
  margin-left: 220px !important;
}
.list-page.replace-button {
  margin-left: 232px !important;
}

/* side menu */
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
@media (max-width: 500px) {
  #content {
      padding-left: 12px !important;
      padding-right: 12px !important;
  }
}
#content {
  background-color: #8fb2cb4a;
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
#content.active {
  width: 100%;
}
.full-width {
  width: 100% !important;
}
.replace-button {
  margin-left: 220px !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
}
/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1110px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #content {
      width: 100%;
  }
  #content.active {
      width: calc(100% - 250px);
  }
}
@media (min-width: 1111px) {
  #sidebarCollapse {
      display: none;
  }
}