<div>
    <app-header></app-header>
    <!-- Page Content Holder -->
    <div id="content">
      <nav class="navbar navbar-default" style="padding: 0; text-align: left;">
          <div class="container-fluid" style="padding: 0;">
              <div class="navbar-header">
                  <button type="button" (click)="handleClick($event)" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="fa fa-bars"></i>
                  </button>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="#">Page</a></li>
                  </ul>
              </div>
          </div>
      </nav>
  
    <h2 style="color: #566089; display:inline;">Λίστα Συνταγών</h2>
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

		<div class="main-box clearfix">
			<div class="table-responsive">
				<table class="table user-list">
					<thead>
						<tr style="display: block;">
							<th style="min-width: 280px;"><span>Στοιχεία Ασθενή</span></th>
							<th><span>Ημερομηνία</span></th>
							<th class="text-center"><span>Κατάσταση</span></th>
							<th><span>Ασφάλιση</span></th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
            <ng-container *ngIf="!isFetching && prescriptions.item.length >= 0">
              <ng-container *ngFor="let prescription of prescriptions.item">
						    <tr id="list-item">
                  <td style="min-width: 280px;">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <a href="" (click)="editPrescription(prescription.barcode)" class="user-link">{{prescription.patientInfo.firstName + ' ' + prescription.patientInfo.lastName}}</a>
                    <span class="user-subhead"><span style="font-weight: 700; padding-right: 10px;">ΑΜΚΑ: </span>{{prescription.patientInfo.amka}}</span>
                  </td>
                  <td>
                    {{prescription.issueDate}}
                  </td>
                  <td class="text-center">
                    <span *ngIf="prescription.status.status === 'ΑΚΥΡΩΜΕΝΗ'" class="label label-danger">{{prescription.status.status}}</span>
                    <span *ngIf="prescription.status.status === 'ΣΥΝΤΑΓΟΓΡΑΦΗΜΕΝΗ'" class="label label-success">{{prescription.status.status}}</span>
                    <span *ngIf="prescription.status.status === 'ΟΛΟΚΛΗΡΩΜΕΝΗ'" class="label label-success">{{prescription.status.status}}</span>
                  </td>
                  <td>
                    <span>{{prescription.patientInfo.socialInsuranceShortName}}</span>
                  </td>
                  <td class="" style="width: 25%;">
                    <span (click)="editPrescription(prescription.barcode)" class="table-link col-md-1">
                      <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x" style="color: blue;"></i>
                        <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                      </span>
                    </span>
                    <ng-container *ngIf="prescription.status.status != 'ΑΚΥΡΩΜΕΝΗ' && prescription.status.status != 'ΟΛΟΚΛΗΡΩΜΕΝΗ'">
                      <span class="table-link col-md-1" (click)="editPrescription(prescription.barcode)">
                        <span class="fa-stack">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                      </span>
                      <span class="table-link danger col-md-1" (click)="openConfirmDeleteModal(prescription.barcode)">
                        <span class="fa-stack">
                          <i class="fa fa-square fa-stack-2x" style="color: red;"></i>
                          <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                        </span>
                      </span>
                    </ng-container>
                  </td>
						    </tr>
              </ng-container>
            </ng-container>
					</tbody>
				</table>
			</div>
			<!-- <ul class="pagination pull-right">
				<li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
			</ul> -->
		</div>
  </div>
</div>
