<div>
  <app-header></app-header>
    <!-- Page Content Holder -->
    <div id="content">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" (click)="handleClick($event)" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
        </div>
      </nav>
  
    <h2 class="page-title">Λίστα Συνταγών</h2>
    
    <div class="form desktop"><i class="fa fa-search"></i><input id="myInputDesk" type="number" class="form-control form-input" (keyup)="searchDesktop($event)" placeholder="Αναζήτηση συνταγής βάση αριθμού ΑΜΚΑ.."> </div>
    <div class="form medium"><i class="fa fa-search"></i><input id="myInputMed" type="number" class="form-control form-input" (keyup)="searchMedium($event)" placeholder="Αναζήτηση συνταγής βάση αριθμού ΑΜΚΑ.."> </div>
    <div class="form mobile"><i class="fa fa-search"></i><input id="myInputMob" type="number" class="form-control form-input" (keyup)="searchMobile($event)" placeholder="Αναζήτηση συνταγής βάση αριθμού ΑΜΚΑ.."> </div>

    <div class="table-responsive col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <table id="desktop-table" class="table table-hover table-nowrap">
        <thead id="desk-head" class="thead-light">
            <tr>
                <th scope="col">Στοιχεία</th>
                <th scope="col">Κατάσταση</th>
                <th scope="col">Ασφάλιση</th>
                <th scope="col">Λεπτομέρειες</th>
            </tr>
        </thead>
        <tbody id="myDeskTable">
          <ng-container *ngIf="!isFetching && prescriptions.item.length >= 0">
            <ng-container *ngFor="let prescription of prescriptions.item">
              <tr>
                <td class="first-column">
                  <img alt="..." src="../../../assets/user.png" class="avatar avatar-sm rounded-circle me-2"> <span class="text-heading font-semibold" (click)="viewPrescriptionDetails(prescription.barcode)">{{prescription.patientInfo.firstName + ' ' + prescription.patientInfo.lastName}}</span>
                  <br><span class="mid-amka">AMKA:</span><span class="amka">   {{prescription.patientInfo.amka}}</span><br>
                  <span><i class="far fa-calendar-alt" style="font-size:25px"></i>    {{prescription.issueDate}}</span>
                </td>
                <td>
                  <span *ngIf="prescription.status.status == 'ΣΥΝΤΑΓΟΓΡΑΦΗΜΕΝΗ'" class="badge badge-lg badge-dot"><i class="bg-warning"></i>{{prescription.status.status}}</span>
                  <span *ngIf="prescription.status.status == 'ΑΚΥΡΩΜΕΝΗ'" class="badge badge-lg badge-dot"> <i class="bg-danger"></i>{{prescription.status.status}}</span>
                  <span *ngIf="prescription.status.status == 'ΟΛΟΚΛΗΡΩΜΕΝΗ'" class="badge badge-lg badge-dot"> <i class="bg-success"></i>{{prescription.status.status}}</span>
                </td>
                <td>
                  <span class="insurance">{{prescription.patientInfo.socialInsuranceShortName}}</span>
                </td>
                <td class="text-end"> 
                  <button title="Προβολή" (click)="viewPrescriptionDetails(prescription.barcode)"><i class="fa fa-eye"></i></button>
                  <ng-container *ngIf="prescription.status.status != 'ΑΚΥΡΩΜΕΝΗ' && prescription.status.status != 'ΟΛΟΚΛΗΡΩΜΕΝΗ'">
                    <button title="Επεξεργασία" (click)="editPrescription(prescription.barcode)"><i class="far fa-edit"></i></button>
                    <button title="Διαγραφή" (click)="openConfirmDeleteModal(prescription.barcode)"><i class="far fa-trash-alt"></i></button>
                  </ng-container>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>

      <table id="mid-table" class="table table-hover table-nowrap">
        <thead id="mid-head" class="thead-light">
            <tr>
              <th scope="col">Στοιχεία Ασθενή</th>
              <th scope="col">Κατάσταση</th>
              <th scope="col">Λεπτομέρειες</th>
            </tr>
        </thead>
        <tbody id="myMedTable">
          <ng-container *ngIf="!isFetching && prescriptions.item.length >= 0">
            <ng-container *ngFor="let prescription of prescriptions.item">
              <tr>
                <td class="first-column">
                  <img alt="..." src="../../../assets/user.png" class="avatar avatar-sm rounded-circle me-2"> <span class="text-heading font-semibold" (click)="editPrescription(prescription.barcode)">{{prescription.patientInfo.firstName + ' ' + prescription.patientInfo.lastName}}</span>
                  <br><span class="mid-amka">AMKA:</span><span class="amka">   {{prescription.patientInfo.amka}}</span><br>
                  <span><i class="far fa-calendar-alt" style="font-size:25px"></i>    {{prescription.issueDate}}</span>
                </td>
                <td class="mid-column">
                  <span *ngIf="prescription.status.status == 'ΣΥΝΤΑΓΟΓΡΑΦΗΜΕΝΗ'" class="badge badge-lg badge-dot"><i class="bg-warning"></i>{{prescription.status.status}}</span>
                  <span *ngIf="prescription.status.status == 'ΑΚΥΡΩΜΕΝΗ'" class="badge badge-lg badge-dot"><i class="bg-danger"></i>{{prescription.status.status}}</span>
                  <span *ngIf="prescription.status.status == 'ΟΛΟΚΛΗΡΩΜΕΝΗ'" class="badge badge-lg badge-dot"><i class="bg-success"></i>{{prescription.status.status}}</span>
                </td>
                <td class="text-end"> 
                  <button title="Προβολή" (click)="viewPrescriptionDetails(prescription.barcode)"><i class="fa fa-eye"></i></button>
                  <ng-container *ngIf="prescription.status.status != 'ΑΚΥΡΩΜΕΝΗ' && prescription.status.status != 'ΟΛΟΚΛΗΡΩΜΕΝΗ'">
                    <button title="Επεξεργασία" (click)="editPrescription(prescription.barcode)"><i class='far fa-edit'></i></button>
                    <button title="Διαγραφή" (click)="openConfirmDeleteModal(prescription.barcode)"><i class="far fa-trash-alt"></i></button>
                  </ng-container>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>


      <table id="mobile-table" class="table table-hover table-nowrap">
        <thead id="mob-head" class="thead-light">
          <tr>
              <th scope="col">Στοιχεία</th>
              <th scope="col">Λεπτομέρειες</th>
          </tr>
      </thead>
        <tbody id="myMobTable">
          <ng-container *ngIf="!isFetching && prescriptions.item.length >= 0">
            <ng-container *ngFor="let prescription of prescriptions.item">
              <tr>
                <td class="first-column">
                  <span *ngIf="prescription.status.status == 'ΣΥΝΤΑΓΟΓΡΑΦΗΜΕΝΗ'" class="badge badge-lg badge-dot"><i class="bg-warning"></i></span>
                  <span *ngIf="prescription.status.status == 'ΑΚΥΡΩΜΕΝΗ'" class="badge badge-lg badge-dot"> <i class="bg-danger"></i></span>
                  <span *ngIf="prescription.status.status == 'ΟΛΟΚΛΗΡΩΜΕΝΗ'" class="badge badge-lg badge-dot"> <i class="bg-success"></i></span>
                  <span class="amka">{{prescription.patientInfo.amka}}</span> <br> <span class="text-heading font-semibold" (click)="editPrescription(prescription.barcode)">{{prescription.patientInfo.firstName + ' ' + prescription.patientInfo.lastName}}</span><br>{{prescription.issueDate}}</td>
                <td class="text-end"> 
                  <button title="Προβολή" (click)="viewPrescriptionDetails(prescription.barcode)"><i class="fa fa-eye"></i></button>
                  <ng-container *ngIf="prescription.status.status != 'ΑΚΥΡΩΜΕΝΗ' && prescription.status.status != 'ΟΛΟΚΛΗΡΩΜΕΝΗ'">
                    <button title="Επεξεργασία" (click)="editPrescription(prescription.barcode)"><i class='far fa-edit'></i></button>
                    <button title="Διαγραφή" (click)="openConfirmDeleteModal(prescription.barcode)"><i class="far fa-trash-alt"></i></button>
                  </ng-container>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
