<div>
    <app-header></app-header>
      <!-- Page Content Holder -->
      <div id="content">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" (click)="handleClick($event)" id="sidebarCollapse" class="btn btn-info navbar-btn">
                      <i class="fa fa-bars"></i>
                  </button>
              </div>
          </div>
        </nav>

           
  
            <!-- <div class="btn-group col-sm-12 col-md-12 col-lg-12 col-xl-8 offset-xl-2">
              <ng-container *ngIf="!isFetching && visit.status != 'cancelled'">
                <button (click)="openConfirmDeleteModal(visit.id)" class="btn delete"><i class="fa fa-trash"></i><span> Ακύρωση</span></button>
                <button (click)="editVisit(visit.id)" class="btn edit"><i class="fas fa-pencil-alt"></i><span> Επεξεργασία</span></button>
              </ng-container>
              <ng-container *ngIf="!isFetching && canBePrescribed">
                <button (click)="createPrescriptionForVisit(visit.id)" class="btn add"><i class="fas fa-plus"></i><span> Δημιουργία Συνταγής</span></button>
              </ng-container>
            </div> -->
      
            <div class="card col-sm-12 col-md-10 col-lg-10 col-xl-10 offset-xl-1 offset-md-1">  
              
              <form #f="ngForm">
                <div class="card-body">
                  <h5>Δημιουργία Καταχώρησης:</h5>
                  <hr>
                  <div class="d-flex flex-column align-items-center text-center">
                    <div class="mt-3">
            
                        <ul class="list-group list-group-flush info-card">
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6>Στοιχεία ασθενή:</h6>
                            <div class="form-group full-width">
                              <label for="patient-amka">ΑΜΚΑ Ασθενή: </label>
                              
                              <input [(ngModel)]="amka" ng-model="input" name="patient-amka" id="patient-amka" class="form-control"
                                      type="number" placeholder="Αριθμός ΑΜΚΑ" (keyup)="getPatient(amka)" required
                                      #r1="ngModel"/>
                                      <!-- <ng-container *ngIf="loading"> -->
                                      <i *ngIf="!invalidError" class="fa fa-check"></i><i *ngIf="invalidError" class="fas fa-exclamation-circle"></i>
                                    <!-- </ng-container> -->
                                <div style="color: #ff0000bf; font-size: 13px;" *ngIf="!r1.valid && r1.touched">Παρακαλώ συμπληρώστε αυτό το
                                  πεδίο!
                                </div>
                            </div>
                          </li>
                          <!-- <ng-container *ngIf="isFetching">
                            <div style="margin-top: 36px;height: 100px;">
                              <div class="spinner-border" style="text-align: center;" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                            </div>
                          </ng-container> -->
                          <li *ngIf="patientResponse && !invalidError" class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <ul class="list-group list-group-flush personal-info col-sm-12 col-md-12 col-lg-12 col-xl-12">
                              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap amka-info">
                                <h6 class="mb-0"><i class="far fa-user-circle"></i><span>  Ονοματεπώνυμο:</span></h6>
                                <span class="span-text">{{patientResponse.firstName + ' ' + patientResponse.lastName}}</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap amka-info">
                              <h6 class="mb-0"><i class="fa fa-calendar"></i><span>  Hμερομηνία Γέννησης:</span></h6>
                              <span class="span-text">{{patientResponse.birthDate | date}}</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap amka-info">
                                <h6 class="mb-0"><i class="far fa-address-card"></i><span>  Επικοινωνία:</span></h6>
                                <span class="span-text">{{patientResponse.telephone}}</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap amka-info">
                                <h6 class="mb-0"><i class="fas fa-home"></i><span>  Διεύθυνση κατοικίας:</span></h6>
                                <span class="span-text">{{patientResponse.address + ', ' + patientResponse.city + ', ' + patientResponse.county}} </span>
                              </li>
                            </ul>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap image-group">
                            <h6 *ngIf="!isImageSaved">Εισάγετε την φωτογραφία σας:</h6>
                            <h6 *ngIf="isImageSaved">Η φωτογραφία σας:</h6>
                            <ng-container *ngIf="!isImageSaved; else elseTemplate">
                              <div class="form-group">
                                <input type="file" 
                                class="custom-file-input" 
                                id="file"
                                aria-describedby="inputGroupFileAddon01"
                                (change)="handleFileInput($event.target.files)" [(ngModel)]="photo" name="melanoma-photo" required #r2="ngModel"/>
                                <label class="custom-file-label" for="fileToUpload">{{fileSelectedLabel()}}</label>
                              </div>
                              <div style="color: red; font-size: 13px;" *ngIf="!r2.valid && r2.touched">Παρακαλώ συμπληρώστε αυτό το
                                πεδίο!
                              </div>
                            </ng-container>
                            <ng-template #elseTemplate>
                              <ul class="list-group list-group-horizontal-sm">
                                <li class="list-group-item col">
                                  <img width="200px" height="150px" [src]="cardImageBase64" class="img-responsive image-added">
                                </li>
                                <li *ngIf="loading" class="list-group-item col">
                                  <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                  </div>                                
                                </li>
                                <li *ngIf="!loading && examinedImageResponse" class="list-group-item col">
                                  <div class="card bg-light mb-3" style="max-width: 18rem;margin-top: 27px;">
                                    <div class="card-body image-response">
                                      <span class="card-text">Το αποτέλεσμα της αξιολόγησης είναι: <strong>{{examinedImageResponse}}</strong></span>
                                    </div>
                                  </div>                               
                                </li>
                              </ul>
                              <div class="btn-group" style="width: 92%; margin-top: 18px;">
                                <button id="photo-review" class="btn btn-primary spacing" [hidden]="!examinedImageResponse || dlPredictResponse" [disabled] = "dlPredictLoading || removeHairLoading" type="submit" (click) = dlPredict()>Οριοθέτηση εικόνας</button>
                                <button id="photo-review" class="btn btn-primary spacing" [hidden]="!examinedImageResponse || removeHairResponse" [disabled] = "dlPredictLoading || removeHairLoading" type="submit" (click) = removeHairImage()>Αφαίρεση τριχών</button>
                                <button id="photo-review" class="btn btn-primary spacing" [hidden]="examinedImageResponse" [disabled] = "loading" type="submit" (click) = submit()>Αξιολόγηση εικόνας</button>
                                <a id="photo-delete" class="btn btn-danger" (click)="removeImage()">Remove</a>
                              </div>
                            </ng-template>
                          </li>
                          <li *ngIf="dlPredictClicked || removeHairClicked" class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <ul class="list-group list-group-horizontal-sm">
                              <li *ngIf="dlPredictClicked" class="list-group-item col" style="min-height: 150px;">
                                <h6>Οριοθέτηση σπίλου</h6>
                                <ng-container *ngIf="dlPredictLoading; else DlResponse">
                                  <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                  </div>
                                </ng-container>
                                <ng-template #DlResponse>
                                  <span *ngIf="!dlPredictResponse" style="color:red;">Δεν βρέθηκε αποτέλεσμα.<br>Παρακαλώ προσπαθήστε με νέα εικόνα.</span>
                                  <img *ngIf="dlPredictResponse" width="200px" height="150px" [src]="dlURL" class="img-responsive image-added">
                                </ng-template>
                              </li>

                              <li *ngIf="removeHairClicked" class="list-group-item col" style="min-height: 150px;">
                                <h6>Αφαίρεση τριχών</h6>
                                <ng-container *ngIf="removeHairLoading; else RemHairResponse">
                                  <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                  </div>
                                </ng-container>
                                <ng-template #RemHairResponse>
                                  <span *ngIf="!removeHairResponse" style="color:red;">Δεν βρέθηκε αποτέλεσμα.<br>Παρακαλώ προσπαθήστε με νέα εικόνα.</span>
                                  <img *ngIf="removeHairResponse" width="200px" height="150px" [src]="remHairURL" class="img-responsive image-added">
                                </ng-template>
                              </li>
                            </ul>
                          </li>
                          
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6>Ημερομηνία Λήψης Φωτογραφίας: </h6>
                            <input [(ngModel)]="entry.date" type="date" id="entry-date" name="entry-date" #r3="ngModel" required/>                        
                            <div style="color: red; font-size: 13px;" *ngIf="r3.invalid && (r3.dirty || r3.touched)">Παρακαλώ συμπληρώστε αυτό το
                              πεδίο!
                            </div>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6>Ημερομηνία Δημιουργίας Καταχώρησης: </h6>
                            <span>{{dateNow}}</span>                     
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6>Σχόλια Καταχώρησης: </h6>
                            <textarea [(ngModel)]="entry.comments" name="entry-comments" id="entry-comments" class="form-control" type="text" rows="3" placeholder="Σχόλια Καταχώρησης"></textarea>
                          </li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="btn-group" style="width: 92%; margin-top: 18px;">
                  <button routerLink="/photos-get" class="back"><i class="fas fa-angle-left"></i></button>
                  <button (click)="postDataToJson(entry)" type="submit" class="edit-submit" [disabled]="!f.valid">Αποθήκευση</button>
                </div>
              </form>
            </div>
         
          <!-- <ng-container *ngIf="isFetching">
            <app-spinner class="main-loader"></app-spinner>
          </ng-container> -->

    </div>
</div>